<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>BioMachineLearning is a research Unit at the University of Hertfordshire, UK. </p>
        <p>Follow us on <a href="https://github.com/BioMachineLearning">github <i class="fa fa-github" aria-hidden="true"></i></a>. </p>
        <p style="font-size:small">Imprint: Made with <i class="fa fa-heart"></i> by Dr Michael Schmuker<br/>
           Professor of Neural Computation<br/>
           Dept. of Computer Science, University of Hertfordshire, College Lane, Hatfield AL10 9AB, UK. <br/>
           Email: m.schmuker@herts.ac.uk | Phone: +44 (0) 1707 286376
    </section>
</section>
